.showcase.section-padding.border-top-light-grey
	.row.showcase-title
		.large-12.small-12.columns
			%h3.strong.heading-40
				= title
	.showcase-cover
		%a(href="#{url}")
			%img.cover(src="./img/covers/#{cover}" alt="#{cover_alt}" width="1920" height="300")
	- if !subtitle.empty?
		.row
			.large-9.small-12.columns.showcase-info
				%p.italic.text-dark-grey
					= subtitle
				%a.small.button.radius(href="#{url}")
					= button