.showcase.section-padding
	.row.showcase-title
		.large-12.small-12.columns(id="video-#{video_id}")
			%h3.strong.heading-40
				= title
	.row.showcase-cover(id="place-#{video_id}" class="toggle-video-#{video_id}")
		.video-cover
			%img.cover(src="./img/covers/#{cover}" alt="#{cover_alt}" width="970" height="300")
			%img.play.absolute-center(src="./img/play.png" alt="Play a video." width="152" height="153")
	.row
		.large-9.small-12.columns.showcase-info
			%p.text-dark-grey
				= subtitle
			%a.small.button.radius(href="#video-#{video_id}" class="toggle-video-#{video_id}")
				Watch the video