%a.showcase.section-padding.border-top-light-grey(href="#{url}")
	.row.showcase-title
		.large-12.small-12.columns
			%h3.strong
				= title
	.showcase-cover
		%img.cover(src="./img/#{cover}" alt="#{cover_alt}" width="1920" height="300")
	- if !subtitle.empty?
		.row.showcase-info
			.large-12.small-12.columns
				%p.italic
					= subtitle
				.small.button.radius(href="#{url}")
					Go to case study