!!! 5
%html
	- # This line includes header partial
	- # Note the title-variable sent to partial
	- args = {title: 'Front end development. Design thinking. - Mika Lindell'}
	= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_header.haml')).render(Object.new, args)
	%body	
		- # This line includes top-menu partial
		- args = {display_back: false}
		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_menu_top.haml')).render(Object.new, args)
		%div.welcome.section-padding.border-top-light-grey
			.bg-sky-blue
				.row
					.large-7.small-12.columns
						.slogan
							%h1
								Front end development.
								%br
								Design thinking.
							%h2.italic
								Interaction design and technical implementation
								%br for web and mobile.
								%br
								With an eye for what looks & runs beautiful.
					.large-5.small-12.columns.hide-for-small.me
						%img.mugshot(src="./img/welcome.png" alt="That's me and a smile." width="475" height="342")
						%img.hi-there(src="./img/hithere.png" alt="Hi there!" width="148" height="127")
						%div.tip-left.tip-hotspot(data-tooltip data-options="disable-for-touch:true" data-width="250" title="Yes, I sometimes smile at work. That's because I love what I'm doing!")

		- # Project showcase partials
		- # Android
		- args = {title: 'Motion controlled drum machine', subtitle: 'Proof of concept for Android phones, which spawned out of a school project. <br />When I work, I usually learn something new. This time it was the following: <br />If user already knows one action, use it to communicate the other.', url: 'motion-controlled-drum-machine.html', cover: 'android_cover.jpg', cover_alt: 'User interface work in progress.', video_id: 'KWU_2DXhRhc', elem_id: 'android-video' }
		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_showcase_video.haml')).render(Object.new, args)
		- # Wordpress
		- args = {title: "Wordpress, my way", subtitle: "The default theme of Wordpress has problems, if you consider it from the perspective of interaction. <br />Since I'm a bit of a IT-handyman, I decided to make a theme of my own.", url: 'wordpress-my-way.html', cover: 'wp_cover.jpg', cover_alt: 'Two Wordpress themes next to each other.'}
		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_showcase.haml')).render(Object.new, args)

		- # This line includes footer partial
		= Haml::Engine.new(File.read(File.expand_path(File.dirname(__FILE__)) + '\partials\_footer.haml')).render()